// Paths
$imageDir: '../images/';
$iconDir: '../icons/';
$fontDir: '../fonts/';
$videoDir: '../videos/';

// Grid
$commonWidth: 1200px;
$gutter: 15px;

// Fonts
$robotoCondensed: 'Roboto Condensed', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$oranienbaum: 'Oranienbaum', sans-serif;


// Colors
$white: #fff;
$grey: #eee;
$black: #333;
$beige: #BBA7A0;
$beigeLight: #EDE6DF;
$orange: #FA9231;
$red: #E16C5B;
$brown: #935641;
 